<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user}">
        <label>
            Username:
            <input type = 'text' name = 'username' th:value="(${user})?${user.username}:'Enter Username'">
        </label>

        <label>
            Email:
            <input type = 'text' name = 'email' th:value="(${user})?${user.email}:'Optional'">
        </label>

        <label>
            Password:
            <input type = 'password' name = 'password'>
        </label>

        <label>
            Verify Password:
            <input type = 'password' name = 'verify'>
        </label>

        <p th:each="message:${errors}" th:text="${message.getMessage()}"></p>

        <input type = 'submit' value = 'Sign Up'>
    </form>

</body>
</html>